<!doctype html>
<html lang="en">
  <head>
    <title>Simplest Website</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

  </head>
  <body>

<header>

  <!-- NAVIGATION -->
<nav class="navbar">
  <div class="container">
    <div class="col-md-4 lpanel col-sm-12 col-xs-12">
    <i class="fa fa-instagram hidden-sm hidden-xs" aria-hidden="true"></i> Instagram
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
      <div class="text-center rpanel">
      <i class="fa fa-map-o" aria-hidden="true"></i>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
    </div>

  </div>
</nav>
</header>
<!-- main-wrapper -->
<div class="main-wrapper">

<!-- fluid-container -->
    <div class="container">

          <div class="listing-outer col-md-12">
            <div class="listing-inner">
              <div class="top">
                <img class="img-circle" src="http://placehold.it/300x300" alt="iamge" class="img-circle">
                <span>Jaison</span>
                <span class="pull-right">1d</span>
              </div>
              <div class="middle">
                <img class="image-main" src="http://placehold.it/500x400" />
              </div>
              <div class="bottom">

              </div>
            </div>
          </div>

          <div class="listing-outer col-md-12">
            <div class="listing-inner">
              <div class="top">
              <img class="img-circle" src="http://placehold.it/300x300" alt="iamge" class="img-circle">
              <span>Sailesh</span>
              <span class="pull-right">1d</span>
              </div>
              <div class="middle">
                <img class="image-main" src="http://placehold.it/500x400" />
              </div>
              <div class="bottom">

              </div>
            </div>
          </div>

    </div>
    <!-- /fluid-container -->


</div>
<!-- /main-wrapper -->

<!-- FOOTER -->
    <div class="container">
<!--       <div class="row">
        <div class="footer-menu1 col-md-12">
          <ul>
              <li class="footer-menu col-md-12">About us</li>
              <li class="footer-menu">Support</li>
              <li class="footer-menu">Blog</li>
              <li class="footer-menu">Press</li>
              <li class="footer-menu">Api</li>
              <li class="footer-menu">Jobs</li>
          </ul>
        </div>
        <div class="clearfix"></div>

        <div class="footer-menu2 col-md-12">
            <ul>
              <li class="footer-menu">Privacy</li>
              <li class="footer-menu">Terms</li>
              <li class="footer-menu">Directory</li>
              <li class="footer-menu">Language</li>
          </ul>
        </div>
      </div> -->


      <div class="listing-outer col-md-12">
      <div class="footer-inner hidden-sm hidden-xs">
          <div class="footer-top">
           <ul>
                <li class="footer-menu ">About us</li>
                <li class="footer-menu">Support</li>
                <li class="footer-menu">Blog</li>
                <li class="footer-menu">Press</li>
                <li class="footer-menu">Api</li>
                <li class="footer-menu">Jobs</li>
            </ul>



          </div>

          <div class="footer-bottom">
           <ul>
                <li class="footer-menu">About us</li>
                <li class="footer-menu">Support</li>
                <li class="footer-menu">Blog</li>
                <li class="footer-menu">Press</li>
                <li class="footer-menu">Api</li>
                <li class="footer-menu">Jobs</li>
            </ul>



          </div>

          <div class="copyrights">
                    <p class="">&copy; 2017 INSTAGRAM</p>

          </div>

      </div>
      <div class="footer-mobile hidden-md ">

        


            <div class="col-sm-3">

            <a href=""><i class="fa fa-map-o" aria-hidden="true"></i></a>
              
            </div>

            <div class="col-sm-3">

            <a href=""><i class="fa fa-map-o" aria-hidden="true"></i></a>
              
            </div>

            <div class="col-sm-3">

            <a href=""><i class="fa fa-map-o" aria-hidden="true"></i></a>
              
            </div>
            
            <div class="col-sm-3">

            <a href=""><i class="fa fa-map-o" aria-hidden="true"></i></a>
              
            </div>

        

      </div>
      
    </div>

  </body>
</html>
