<!-- 

PROG8165 - Web Design and Development Princ
Instructor: R Kozak

Group members: 

1) Jaison Joseph - Student no: 7714660
2) Sailesh Valiveti - Student No 7832116


 -->

<!doctype html>
<html lang="en">
  <head>
    <title>Simplest Website</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      
      //onLoad function, to be executed when page is completed loaded by browser
            function onload(){
                //start a promise chain
                Promise.resolve()
                .then(function(){
                    //jQuery function to request all the posts from the server
                    //the 'return' is required. Otherwise, the subsequent then will not wait for this to complete
                    return $.post('posts');  
                })
                //when the server responds, we'll execute this code
                .then(function(posts){
                    //jQuery function to set the innerHTML of the div with id = 'posts' to empty
                    $('#posts').html('');
                    //loop over each post item in the posts array
                    posts.forEach(function(post){
                        //jQuery function to append to the innterHTML of the div with id = 'posts'
                        $('#posts').append(
                          
                          '<div class="listing-outer col-md-12">'+
                            '<div class="listing-inner">'+
                              '<div class="top">'+
                                '<img class="img-circle" src="' + post._id + '" alt="iamge">'+
                                '<span>Jaison</span>'+
                                
                              '</div>'+
                             '<div class="middle">'+
                                '<img class="image-main" src="'+post.postImage+'"/>' +
                              '</div>'+
                              '<div class="bottom"></div></div></div>'
                          
                        );
                    });
                })
                .catch(function(err){
                    //always include a catch for exceptions
                    console.log(err);
                });
            }
        
    </script>
  </head>
  <body>

<header>

  <!-- NAVIGATION -->
<nav class="navbar">
  <div class="container">
    <div class="col-md-4 lpanel col-sm-12 col-xs-12">
    <i class="fa fa-instagram hidden-sm hidden-xs" aria-hidden="true"></i> Instagram
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
      <div class="text-center rpanel">
      <i class="fa fa-map-o" aria-hidden="true"></i>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
    </div>

  </div>
</nav>
</header>
<!-- main-wrapper for User Post Listings-->
<div class="main-wrapper">

<!-- fluid-container -->
    <div id="posts" class="container">

          <div class="listing-outer col-md-12">
            <div class="listing-inner">
              <div class="top">
                <img class="img-circle" src="http://placehold.it/300x300" alt="iamge" class="img-circle">
                <span>Jaison</span>
                <span class="pull-right">1d</span>
              </div>
              <div class="middle">
                <img class="image-main" src="http://placehold.it/500x400" />
              </div>
              <div class="bottom">

              </div>
            </div>
          </div>

          <div class="listing-outer col-md-12">
            <div class="listing-inner">
              <div class="top">
              <img class="img-circle" src="http://placehold.it/300x300" alt="iamge" class="img-circle">
              <span>Sailesh</span>
              <span class="pull-right">1d</span>
              </div>
              <div class="middle">
                <img class="image-main" src="http://placehold.it/500x400" />
              </div>
              <div class="bottom">

              </div>
            </div>
          </div>

    </div>
    <!-- /fluid-container -->


</div>
<!-- /main-wrapper -->

<!-- FOOTER -->
    <div class="container">



      <div class="listing-outer col-md-12">

      <!-- FOOTER for desktop version -->
      <div class="footer-inner hidden-sm hidden-xs">
          <div class="footer-top">
           <ul>
                <li class="footer-menu ">About us</li>
                <li class="footer-menu">Support</li>
                <li class="footer-menu">Blog</li>
                <li class="footer-menu">Press</li>
                <li class="footer-menu">Api</li>
                <li class="footer-menu">Jobs</li>
            </ul>



          </div>

          <div class="footer-bottom">
           <ul>
                <li class="footer-menu">About us</li>
                <li class="footer-menu">Support</li>
                <li class="footer-menu">Blog</li>
                <li class="footer-menu">Press</li>
                <li class="footer-menu">Api</li>
                <li class="footer-menu">Jobs</li>
            </ul>



          </div>

          <div class="copyrights">
                    <p class="">&copy; 2017 INSTAGRAM</p>

          </div>

      </div>

      <!-- FOOTER for mobile version -->
      <div class="footer-mobile hidden-lg hidden-md">       


            <div class="col-sm-3">

              <a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
              
            </div>

            <div class="col-sm-3">

              <a href=""><i class="fa fa-search" aria-hidden="true"></i></a>
              
            </div>

            <div class="col-sm-3">

              <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              
            </div>
            
            <div class="col-sm-3">

              <a href=""><i class="fa fa-map-o" aria-hidden="true"></i></a>
              
            </div>        

      </div>
      
    </div>

  </body>
</html>
