<!-- 

PROG8165 - Web Design and Development Princ
Instructor: R Kozak

Group members: 

1) Jaison Joseph - Student no: 7714660
2) Sailesh Valiveti - Student No 7832116


 -->

<!doctype html>
<html lang="en">

<head>
  <title>Simplest Website</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <link rel="stylesheet" href="../css/style.css">
  <script src="../js/jquery.min.js"></script>

  <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


  <script type="text/javascript">
    /*global $*/
    /*global req*/
    
    function likeClick(id) {
      Promise.resolve()
        .then(function() {
          //jQuery provides a nice convenience method for easily sending a post with parameters in JSON
          //here we pass the ID to the incrLike route on the server side so it can do the incrementing for us
          //note the return. This MUST be here, or the subsequent then will not wait for this to complete
          return $.post('incrLike', { id: id });
        })
        .then(function(like) {
          if (like.count > 0) {

            $('#heart-icon-' + like.id).addClass("like");
            //jQuery provides a nice convenience methot for easily setting the count to the value returned
            $('#count-value-' + like.id).html(like.count);

          }

        })
        .catch(function(err) {
          //always include a catch for the promise chain
          console.log(err);
        });
    }
  
    //upload picture handler
    function uploadClick() {
      //go get the data from the form
      var form = new FormData($("#uploadForm")[0]);
      var form = new FormData($("#uploadForm")[0]);
      for (var pair of form.entries()) {
        console.log(pair[0] + ', ' + pair[1]);
      }
        /* global toastr*/
        /* global localStorage*/
        /* global location*/
      //we can post this way as well as $.post
      $.ajax({
        url: '/upload',
        method: "POST",
        dataType: 'json',
        //the form object is the data
        data: form,
        //we want to send it untouched, so this needs to be false
        processData: false,
        contentType: false,
        //add a message 
        success: function(result) {
          
          localStorage.setItem('image_uploaded',"true");
          
          location.reload();
          
        },
        error: function(er) {
          
          localStorage.setItem('image_uploaded',"failed");
          
          location.reload();
          
        }
      });
    }



    //the onload function to be execute as declared in body tAG
    function onload() {

      Promise.resolve()
        .then(function() {

          // Call the page with url posts using the http verb post
          return $.post('posts');
        })

        .then(function(posts) {
          
          //on success , empty the DOM ad prepare for displaying the post 
          $('#posts').html('');

          posts.forEach(function(post) {
            //append the psots to the DOM
            $('#posts').append(

              '<div id="'+ post._id +'" class="listing-outer col-md-12">' +
              '<div class="listing-inner">' +
              '<div class="top">' +
              '<img class="img-circle" src="http://placehold.it/300x300" alt="image">' +
              '<span> ' + post.userFname +' ' + post.userLname +'</span>' +
              '</div>' +
              '<div class="middle">' +
              '<img class="image-main" src="' + post.postImage + '"/>' +
              '</div>' +
              '<div class="bottom">' +
              '<a   onclick="likeClick(\'' + post._id + '\');"  class="like-link" data-post-id="' + post._id + '" href="javascript:">'+
              '<i id="heart-icon-' + post._id + '" class="fa fa-heart-o fa-3x ' + post.likeColor + '" aria-hidden="true"></i></a>' +
              '<p class="like-count"><span id="count-value-' + post._id + '">' + post.postLikeCount + '</span> </p>' +
              '</div></div></div>'
            );
          });
        })
        .catch(function(err) {

          console.log(err);
        });
        
        
    //get all notifications including old ones
    
     Promise.resolve()
        .then(function() {

          // Call the page with url posts using the http verb post
          return $.post('getAllNotifications');
        })
        .then(function(notifications) {
          if(notifications){
            
                      //on success , empty the DOM ad prepare for displaying the post 
                $('#notify-list').html('');
      
                notifications.forEach(function(notification) {
                  //append the psots to the DOM
                              //append the psots to the DOM
                 $('#notify-list').append(
                    '<li><a href="#">'+notification.likerFname+' liked your post !</a></li>'
                  );
                })
              .catch(function(err) {
      
                console.log(err);
              })
          }
            
        });
 
    }
    
    //Get only new notifications
        function getNewNotifications(){
          
                     Promise.resolve()
                    .then(function(){
                     return $.post('notifications');
                    }) 
                    .then(function(notifications){

                    console.log(notifications+"vsdf");
                             notifications.forEach(function(notification) {
                      console.log(notification.likerFname+"sfdsfsfsdf");
                      //append the psots to the DOM
                      $('#notify-list').prepend(
                        '<li><a href="#">'+notification.likerFname+' liked your post !</a></li>'
                      );
                      $("#notifycount").html("0");
                    });
                    //$("#welcome").html(" Hii, "+ user.user.fname+" !");
                    })
                    .catch(function(err){
                        console.log(err);
                    })
        }
    
    $(document).ready(function(){
      
    (function($) {
      
    
  // Get the user data to be used in the welcome salutation
                  Promise.resolve()
                    .then(function(){
                        return $.post('getUserData');
                    })
                    .then(function(user){

                        $("#welcome").html(" Hii, "+ user.user.fname+" !");
                    })
                    .catch(function(err){
                        console.log(err);
                    })
                    
                    
     // Store a flag in the localstorage to let toastr know if there is a message to be notified
      if(localStorage.getItem("image_uploaded") == "true"){
        toastr.success('Yippee !! Pic uploaded successfully.', 'Success');
        localStorage.setItem('image_uploaded',"false");
      }
      else if(localStorage.getItem("image_uploaded") == "failed"){
        
          toastr.error('Something went wrong', 'Error');
        localStorage.setItem('image_uploaded',"");
        
      }
      

      
      function myTimeoutFunction()
      {
         Promise.resolve()
        .then(function() {
           var firstPostId = $("#posts").children(":first").attr("id");

          return $.post('checkNewPost', 'lastPostId=' + firstPostId);

          // Call the page with url posts using the http verb post
        })

        .then(function(posts) {
          console.log(posts);
          //on success , empty the DOM ad prepare for displaying the post 
         

          posts.forEach(function(post) {
            console.log(post);
            //append the psots to the DOM
            $('#posts').prepend(
              
              '<div id="'+ post._id +'" class="listing-outer col-md-12">' +
              '<div class="listing-inner">' +
              '<div class="top">' +
              '<img class="img-circle" src="http://placehold.it/300x300" alt="image">' +
              '<span> ' + post.userFname +' ' + post.userLname +'</span>' +
              '</div>' +
              '<div class="middle">' +
              '<img class="image-main" src="' + post.postImage + '"/>' +
              '</div>' +
              '<div class="bottom">' +
              '<a   onclick="likeClick(\'' + post._id + '\');"  class="like-link" data-post-id="' + post._id + '" href="javascript:">'+
              '<i id="heart-icon-' + post._id + '" class="fa fa-heart-o fa-3x ' + post.likeColor + '" aria-hidden="true"></i></a>' +
              '<p class="like-count"><span id="count-value-' + post._id + '">' + post.postLikeCount + '</span> </p>' +
              '</div></div></div>'
            );
          });
        })
        .catch(function(err) {
          console.log(err);
        });
                    
                   // Belwo function is a timeout fn to get count of new notifn and display count 
                    Promise.resolve()
                    .then(function(){
                     return $.post('notificationscount');
                    }) 
                    .then(function(count){

                    console.log(count+"vsdf");
     
                    $("#notifycount").html(count);
                    })
                    .catch(function(err){
                        console.log(err);
                    })
      }
      myTimeoutFunction();
      setInterval(myTimeoutFunction, 6000);
    })($);
    });
  </script>
</head>

<body onload="onload();">
  <!--onload function gets called here -->

  <header>

    <!-- NAVIGATION -->
    <nav class="navbar">
      <div class="container">
        <div class="col-md-4 lpanel col-sm-12 col-xs-12">
          <i class="fa fa-instagram hidden-sm hidden-xs" aria-hidden="true"></i> Instagram
        </div>
        <div class="col-md-4 hidden-sm hidden-xs">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
          </div>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs">
          <div class="text-center rpanel">
            <a data-toggle="modal" data-target="#myModal" href="#" id="image-upload-anchor"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  
  <a onclick = getNewNotifications(); data-toggle="dropdown" class="dropdown" href="#" ><i class="fa fa-heart-o" aria-hidden="true"><span id="notifycount"></span></i></a>

<ul id="notify-list" class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
            
<a href="/logout" ><i class="fa fa-sign-out" aria-hidden="true"><span id="welcome"></span> </i>
        </a> 
        
          </div>
        </div>

      </div>
    </nav>
  </header>
  <!-- main-wrapper for User Post Listings-->
  <div class="main-wrapper">
    <div class="upload-wrapper">
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add a Picture</h4>
            </div>
            <div class="modal-body">
              <form id="uploadForm" enctype="multipart/form-data" name="uploadForm" novalidate>
                <input type="file" name="userPhoto" id="userPhoto" />
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" onclick="uploadClick();">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="posts" class="container"> 

    </div>



  </div>
  <!-- /main-wrapper -->

  <!-- FOOTER -->
  <div class="container">



    <div class="listing-outer col-md-12">

      <!-- FOOTER for desktop version -->
      <div class="footer-inner  hidden-sm hidden-xs">
        <div class="footer-top">
          <ul>
            <li class="footer-menu ">About us</li>
            <li class="footer-menu">Support</li>
            <li class="footer-menu">Blog</li>
            <li class="footer-menu">Press</li>
            <li class="footer-menu">Api</li>
            <li class="footer-menu">Jobs</li>
          </ul>



        </div>



        <div class="copyrights">
          <p class="">&copy; 2017 INSTAGRAM</p>

        </div>

      </div>

      <!-- FOOTER for mobile version -->
      <div class="footer-mobile hidden-lg  hidden-sm">


        <div class="col-sm-3">

          <a href=""><i class="fa fa-home" aria-hidden="true"></i></a>

        </div>

        <div class="col-sm-3">

          <a href=""><i class="fa fa-search" aria-hidden="true"></i></a>

        </div>

        <div class="col-sm-3">

          <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>

        </div>

        <div class="col-sm-3">

          <a href=""><i class="fa fa-map-o" aria-hidden="true"></i></a>

        </div>

      </div>

    </div>

</body>
<footer>



</footer>

</html>
