<!-- 

PROG8165 - Web Design and Development Princ
Instructor: R Kozak

Group members: 

1) Jaison Joseph - Student no: 7714660
2) Sailesh Valiveti - Student No 7832116


 -->

<!doctype html>
<html lang="en">
  <head>
    <title>Simplest Website</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css"> 
    <link rel="stylesheet" href="../css/style.css"> 
    <script src="../js/jquery.min.js"></script>

    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    
     <script>
        /*global $*/
            function handleResetAttempt(){
                var email = $('#email').val();
                var password = $('#password').val();
                var repeatPassword = $('#confirm_password').val();
                
                if (email.length > 0 && password.length > 0 && repeatPassword.length > 0 && password == repeatPassword){
                    Promise.resolve()
                    .then(function(){
                        return $.post('passwordreset', {email: email, password: password});
                    })
                    .then(function(data){
                        $('#error').html('go check your email, dummy');
                    })
                    .catch(function(err){
                        console.log(err);
                    })
                } else {
                    $('#error').html('Please provide both username and password and ensure passwords match');
                }
            }
        </script>

  </head>
    <body> <!--onload function gets called here -->

<header>

  <!-- NAVIGATION -->
<nav class="navbar">
  <div class="container">
    <div class="col-md-4 lpanel col-sm-12 col-xs-12">
    <i class="fa fa-instagram hidden-sm hidden-xs" aria-hidden="true"></i> Instagram
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
      <div class="text-center rpanel">
      <i class="fa fa-map-o" aria-hidden="true"></i>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
    </div>

  </div>
</nav>
</header>
<!-- main-wrapper for User Post Listings-->
<div class="main-wrapper">


    <div id="posts" class="container">


    
        <div class="col-md-6 col-md-offset-4">
                    <p>Password Reset</p>

              <form id="insta_join">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input id="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input id="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword2">Confirm Password</label>
                          <input id="confirm_password" type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                        </div>
                        <button type="button" class="btn btn-primary" onclick="handleResetAttempt()">Submit</button>
              </form>
              
              <div>
                <p>Are you a new user? <a href="/signin">Signin!</a></p>
                <p>Forgot password> Click <a href="/signup">here</a></p>
              </div>
        </div>
        



    </div>
   


</div>
<!-- /main-wrapper -->

<!-- FOOTER -->
    <div class="container">



      <div class="listing-outer col-md-12">

      <!-- FOOTER for desktop version -->
      <div class="footer-inner hidden-sm hidden-xs">
          <div class="footer-top">
           <ul>
                <li class="footer-menu ">About us</li>
                <li class="footer-menu">Support</li>
                <li class="footer-menu">Blog</li>
                <li class="footer-menu">Press</li>
                <li class="footer-menu">Api</li>
                <li class="footer-menu">Jobs</li>
            </ul>



          </div>

          <div class="footer-bottom">
           <ul>
                <li class="footer-menu">About us</li>
                <li class="footer-menu">Support</li>
                <li class="footer-menu">Blog</li>
                <li class="footer-menu">Press</li>
                <li class="footer-menu">Api</li>
                <li class="footer-menu">Jobs</li>
            </ul>



          </div>

          <div class="copyrights">
                    <p class="">&copy; 2017 INSTAGRAM</p>

          </div>

      </div>

      <!-- FOOTER for mobile version -->
      <div class="footer-mobile hidden-lg hidden-md">       


            <div class="col-sm-3">

              <a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
              
            </div>

            <div class="col-sm-3">

              <a href=""><i class="fa fa-search" aria-hidden="true"></i></a>
              
            </div>

            <div class="col-sm-3">

              <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              
            </div>
            
            <div class="col-sm-3">

              <a href=""><i class="fa fa-map-o" aria-hidden="true"></i></a>
              
            </div>        

      </div>
      
    </div>

  </body>
</html>
