/*PROG8165 - Web Design and Development Princ
Instructor: R Kozak

Group members: 

1) Jaison Joseph - Student no: 7714660
2) Sailesh Valiveti - Student No 7832116

*/



nav.navbar {
    font-size: 28px;
    line-height: 34px;
    padding: 10px 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

nav .rpanel i.fa {
	padding:0 5px;
}

nav i.fa.fa-instagram.hidden-sm.hidden-xs {
    padding-right: 10px;
    border-right: 1px solid #333333;
}

.listing-inner {
	border-radius: 3px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    width: 100%;
    max-width: 600px;
    margin: 15px auto;
}

.listing-inner .top {
    height: 50px;
    line-height: 50px;
	padding:0 10px;
}
.listing-inner .top img {
	height: 30px;
}
.middle img {
	width: 100%;
	height: auto;
}

.bottom{
	height: 50px;
    line-height: 50px;
    padding: 10px 10px;
	
}
.like-count{
	display: inline;
    font-size: 26px;
}

.footer-inner{

	max-width:600px;
	margin:15px auto;
}

.footer-top{

	max-width: 50%;
    margin: 205px auto 20px auto;
    text-align: center;
}


.footer-bottom{
		max-width:50%;
	margin:15px auto;
}
.footer-menu{

	display:inline;
	text-decoration: none;
}

.like{
	
	color:crimson;
}
.copyrights{
	max-width:50%;
	margin:15px auto;
	text-align: center;

}
/*Media queries for mobile versions*/
@media screen and ( max-width: 991px ) {  
.lpanel {
	text-align:center;
}	

.footer-mobile{
	max-width:100%;
	margin:15px auto;
	text-align: center;
	
}

}

